body {
    background-image: url(../img/blue-stripe-background.jpg);
    font-family: 'Lato', sans-serif;
}

header {
    background-color: white;
    -webkit-box-shadow: 0 1px 2px 1px #7d7d7d;
    box-shadow: 0 1px 2px 1px #7d7d7d;
    text-align: center;
    position: relative;
    z-index: 10000;
}

header img {
    width: 50%;
    padding: 10px;
}

nav {
    padding: 0 0 0.5em 0;
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    -webkit-padding-start: 0;
}

nav ul li {
    padding: 2% 0;
}

nav ul li a {
    font-size: 1.1rem;
    color: #412c01;
    text-decoration: none;
}

main {
    width: 75%;
    color: #412c01;
    margin: auto;
    text-align: center;
    padding: 5px 0;
    background-color: #fbcc34;
    position: relative;
    z-index: 1;
}

main article p {
    padding: 0 2em;
}

main article img {
    width: 35%;
    border: #0140b1 solid 4px;
}

.bold {
    font-weight: bold;
}

/* Ribbon heading */
.ribbon {
    font-size: 16px;

    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    width: 50%;
    position: relative;
    background: #0140b1;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon::before,
.ribbon::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1.5em;
    border: 1.5em solid #0140b1;
    z-index: -1;
}

.ribbon::before {
    left: -1.5em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon::after {
    right: -1.5em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content::before,
.ribbon .ribbon-content::after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #083380 transparent transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-content::before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content::after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.tk-quimby-mayoral {
    font-family: quimby-mayoral, sans-serif;
    font-size: 1.2rem;
    color: #edd089;
}

p.ribbon-content {
    margin: 0;
    font-size: 0.8rem;
}
